.planes{
    padding: 2px;
    margin: 1px;
    display: flex;
    justify-content: center;
}
.plan1{
    padding: 10px;
    border: dotted;
    margin: 2px;
    width: 400px;
}
.plan2{
    padding: 10px;
    border: dotted;
    margin: 2px;
    width: 400px;
}
.plan3{
    padding: 10px;
    border: dotted;
    margin: 2px;
    width: 400px;
}